<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RTO_Insurance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RTOLogin</display-name>
    <servlet-name>RTOLogin</servlet-name>
    <servlet-class>controller.RTOLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RTOLogin</servlet-name>
    <url-pattern>/RTOLogin</url-pattern>
    <url-pattern>/rto_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsuranceLogin</display-name>
    <servlet-name>InsuranceLogin</servlet-name>
    <servlet-class>controller.InsuranceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsuranceLogin</servlet-name>
    <url-pattern>/InsuranceLogin</url-pattern>
    <url-pattern>/insurance_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterHandler</display-name>
    <servlet-name>RegisterHandler</servlet-name>
    <servlet-class>controller.RegisterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHandler</servlet-name>
    <url-pattern>/RegisterHandler</url-pattern>
    <url-pattern>/registerAccident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyHandler</display-name>
    <servlet-name>ModifyHandler</servlet-name>
    <servlet-class>controller.ModifyHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyHandler</servlet-name>
    <url-pattern>/ModifyHandler</url-pattern>
    <url-pattern>/modifyAccident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Retreivehandler</display-name>
    <servlet-name>Retreivehandler</servlet-name>
    <servlet-class>controller.Retreivehandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retreivehandler</servlet-name>
    <url-pattern>/Retreivehandler</url-pattern>
    <url-pattern>/retreiveAccident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailsHandler</display-name>
    <servlet-name>ShowDetailsHandler</servlet-name>
    <servlet-class>controller.ShowDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailsHandler</servlet-name>
    <url-pattern>/ShowDetailsHandler</url-pattern>
    <url-pattern>/showDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyDetailsHandler</display-name>
    <servlet-name>ModifyDetailsHandler</servlet-name>
    <servlet-class>controller.ModifyDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDetailsHandler</servlet-name>
    <url-pattern>/ModifyDetailsHandler</url-pattern>
    <url-pattern>/modifyDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegHandler</display-name>
    <servlet-name>VehicleRegHandler</servlet-name>
    <servlet-class>controller.VehicleRegHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegHandler</servlet-name>
    <url-pattern>/VehicleRegHandler</url-pattern>
    <url-pattern>/register_v</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegistration</display-name>
    <servlet-name>VehicleRegistration</servlet-name>
    <servlet-class>controller.VehicleRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegistration</servlet-name>
    <url-pattern>/VehicleRegistration</url-pattern>
    <url-pattern>/vehicle_reg</url-pattern>
  </servlet-mapping>
</web-app>